.large-header {
	font-family: $base-font-header;
	font-size: 42px;
	font-weight: bold;
}

.medium-header {
	font-family: $base-font-header;
	font-size: 28px;
	font-weight: bold;
}

.sub-header {
	font-family: $base-font;
	font-size: 13px;
	font-weight: 100;
}
