.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.overflow-hidden {
	overflow: hidden;
}

.z-index-bottom {
	z-index: 0;
}

.z-index-mid {
	z-index: 2;
}

.z-index-top {
	z-index: 3;
}